*{
    margin: 0;
    
}
:root{
    background-color: #e2e8f0;
    font-family: sans-serif
}
#mag{height: 36px;}
p{
        color: grey;
        font-size: large;
}
.container{
    display: grid;
    grid-template-columns: 0.75fr 2fr 1fr;
    grid-template-rows: min-content;
    height: 100vh;
    
}
.articals{
    display: grid;
    grid-template-rows : 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 2/4;
    grid-column: 2/4;
    grid-gap: 35px;
    padding: 42px;
    
    
}
.block{
    border-radius: 15px;
    border: 2px solid orange;
    background-color: #9893eb42;
    padding: 20px;
    box-shadow:3px 6px 9px -3px;
    
}
.sidebar{
    display: grid;
    grid-column: 1/2;
    background-color: rgb(52 20 20);
    grid-row: 2/5;
    padding: 10px;
}
.sidebar ul{
    display: grid;
    grid-row: 1/4;
    color: white;
}
header{
    display: grid;
    grid-column: 2/4;
    grid-row: 1/2;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px;
    background-color: #b799cd;
    box-shadow: 1px 1px 3px grey;
    padding-top: 32px;
    grid-row-gap: 20px;
}
h1{
    display: grid;
    grid-column: 1/2;
    
    
}
.sidebar ul li p{
    padding-top: 9px;
    padding-left: 20px;
    color: white;
    cursor: pointer;
}
.sidebar ul{
    list-style: none;
}
.sidebar ul li{
    display: grid;
    grid-template-columns: 0.1fr 1fr;
}
.dash{
    color: white;
    align-items: center;
    background-color: rgb(52 20 20);
    padding:38px

}
.likes{
    display: grid;
    grid-template-columns: 1fr 0.1fr 0.1fr;
    justify-items: end;
    gap: 15px;
}
input{    width: 550px;
    height: 23px;
    border-color: #b799cd;
    border-radius: 8px;}
.rightside{
    grid-column: 3/4;
    grid-row: 1/4;
    display: grid;
    grid-template-rows: 500px 500px;
}
.announcements{
    border-radius: 15px;
    border: 2px solid orange;
    background-color: #9893eb42;
    padding: 20px;
    box-shadow: 3px 6px 9px -3px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.divide{
    background-color: grey;
    height: 1px;
    margin: 27px 0px 27px 0;
}
.trending{
    margin-top: 15px;
    border-radius: 15px;
    border: 2px solid orange;
    background-color: #9893eb42;
    padding: 20px;
    box-shadow: 3px 6px 9px -3px;
    margin-right: 20px;
    /* margin-bottom: 20px; */
}
.topme{
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    flex-direction: row;
    grid-column: 2/3;
    grid-row: 1/1;
    justify-content: flex-end;
    align-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding-right: 150px;
}
nav{          display: flex;
    grid-column: 2/3;
    grid-row: 2/3;
    grid-gap: 25px;
    height: fit-content;
    padding-top: 42px;
    padding-left: 150px;
}
.quote{
    display: grid;
    grid-column: 1/2;
    padding: 0 0 23px 100px;
    grid-template-columns: 0.2fr 1fr;
     align-items: center;
}
label{
    display: grid;
    justify-content: center;
    align-content: start;
    padding-top: 10px;
    grid-template-columns: 0.1fr 1fr;
    align-items: center;
    padding-left: 6rem;
    padding-bottom: 10px;
}
button{    background-color: #70458f;
    border-color: #70458f;
    padding: 5px;
    width: 140px;
    border-radius: 7px;
    color: white;
    font-size: larger;
    cursor: pointer;
}
img{
    cursor: pointer;
}
#bell{
    height: 36px;
    padding-right: 5px;
}